---
import Layout from '../layouts/Layout.astro';
import {Prepr} from '../lib/prepr.js';
import GetPostBySlug from '../queries/get-post-by-slug.js';

const { slug } = Astro.params;

const response = await Prepr(GetPostBySlug, {slug})

const { data } = await response.json()

const post = data.Post
---
<Layout title={post.title}>
    <main>
        <h1>{post.title}</h1>

        <div class="my-10">
            <img src={post.cover.url} />
        </div>

        {
            post.content.map((content) => (
            <div>

                {
                    content.__typename === "Assets" &&
                    <img src={content.items[0].url} />
                }

                {
                    content.__typename === 'Text' &&
                    <div set:html={content.body}></div>
                }
            </div>
            ))
        }
    </main>
</Layout>


