---
import Layout from '../layouts/Layout.astro';
import {Prepr} from '../lib/prepr.js';
import GetUpdate from '../queries/get-detail.js';

const { slug } = Astro.params;

const response = await Prepr(GetUpdate, {slug})

const { data } = await response.json()

const article = data.Update
---
<Layout title={article.title}>
    <main>
        <h1>{article.title}</h1>

        {
            article.content.map((content) => (
            <div>
                

                {
                    content.__typename === 'Text' &&
                    <div set:html={content.body}></div>
                }
            </div>
            ))
        }
    </main>
</Layout>


