---
import Layout from '../layouts/Layout.astro';
import {Prepr} from '../lib/prepr.js';
import GetDrievoor12UpdateDetail from '../queries/get-detail.js';

const { id } = Astro.params;

const response = await Prepr(GetDrievoor12UpdateDetail, {id})

const { data } = await response.json()

const updates = data.Drievoor12updates.items
const update = updates[0]


console.log(update)
---


 
<Layout title={update.title} id={update.id}>
    <main>
      <h1>{update.title}</h1>
      <h2>{update.subtitle}</h2>
      <div set:html={update.text} />

      <span>{update._publish_on}</span>
    </main>
</Layout>


